.svg-logo {
  margin-right: 1rem;
  height: 100%;

  display: flex;
  align-items: center;
}

.username {
  margin-right: 1rem;
}

.mat-menu-item[disabled] {
  color: inherit;
}

img {
  height: 48px;
  width: 48px;
  border-radius: 20%;
}

h2 {
  margin: 0;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.header {
  margin-bottom: 32px;
}

.spacer {
  flex-grow: 1;
}

mat-toolbar {
  height: 64px;
  box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
