// .button-red {
//   background-color: #c62828;
// }

// .button-green {
//   background-color: #4caf50;
// }

// .button-blue {
//   background-color: #2196f3;
// }

// .button-yellow {
//   background-color: #ffeb3b;
// }

// .button-grey {
//   background-color: #9e9e9e;
// }

// .button-orange {
//   background-color: #ff9800;
// }

// .button-success {
//   background-color: #274e29;
// }

// .button-error {
//   background-color: #761919;
// }

// .button-warning,
// .button-warn {
//   background-color: #934d06;
// }

// .button-info {
//   background-color: #125e87;
// }
