<mat-form-field
  [appearance]="appearance"
  [color]="color"
  [subscriptSizing]="subscriptSizing"
>
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [value]="value"
    readonly="readonly"
    [type]="hidden ? 'password' : 'text'"
  />
  <button
    *ngIf="showHideButton"
    mat-icon-button
    matSuffix
    [attr.aria-label]="'Hide'"
    (click)="toggleHide()"
  >
    <mat-icon>{{ hidden ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <button mat-icon-button matSuffix [attr.aria-label]="'Copy'" (click)="copy()">
    <mat-icon>content_copy</mat-icon>
  </button>
</mat-form-field>
