<app-header
  [enableHamburger]="hasSidebar && !isDesktop"
  (onHamburgerClick)="sidebar.toggle()"
  [loading]="loading"
></app-header>

<mat-sidenav-container class="grow-full">
  <mat-sidenav
    class="sidenav-nav"
    [mode]="isDesktop ? 'side' : 'over'"
    opened="false"
  >
    <ng-template [cdkPortalOutlet]="sidebarPortal"></ng-template>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav-content" [class.container]="wrapContentWithContainer">
      <div class="header-spacer"></div>
      <div
        class="grow-full relative"
        [class.container]="wrapContentWithContainer"
        [@mainAnimation]="getRouteAnimData()"
      >
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
