<app-header
  [enableHamburger]="hasSidebar && !isDesktop"
  (onHamburgerClick)="onHamburgerClick()"
></app-header>

<mat-sidenav-container class="grow-full">
  <mat-sidenav class="sidenav-nav" [mode]="isDesktop ? 'side' : 'over'">
    <ng-template [cdkPortalOutlet]="sidebarPortal"></ng-template>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav-content" [class.container]="containerWrap">
      <div class="header-spacer"></div>
      <div class="grow-full" [class.container]="containerWrap">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
