node_modules
**/node_modules

support
backend/dist
frontend/dist
shared/dist
**/.angular

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

yarn-error.log
temp

.vscode
.git
