@import url('/fonts/opensans.css');

html {
  font-family: 'Open Sans', 'Arial', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Open Sans', 'Arial', sans-serif;
  }
}

html, body {
  background: rgb(24, 24, 24);
  color: #eee;
}
