.button-red {
  background-color: #C62828;
}

.button-green {
  background-color: #4CAF50;
}

.button-blue {
  background-color: #2196F3;
}

.button-yellow {
  background-color: #FFEB3B;
}

.button-grey {
  background-color: #9E9E9E;
}

.button-orange {
  background-color: #FF9800;
}

.button-success {
  background-color: #274E29;
}

.button-error {
  background-color: #761919;
}

.button-warning, .button-warn {
  background-color: #934D06;
}

.button-info {
  background-color: #125E87;
}
