.button-red {
  background-color: #C62828;
}

.button-green {
  background-color: #4CAF50;
}

.button-blue {
  background-color: #2196F3;
}

.button-yellow {
  background-color: #FFEB3B;
}

.button-grey {
  background-color: #9E9E9E;
}

.button-orange {
  background-color: #FF9800;
}
