<div class="content-border">
  <div class="centered">
    <ng-container *ngIf="state === 'idle'">
      <h1>Loading</h1>
      <mat-spinner color="accent"></mat-spinner>
    </ng-container>
    <ng-container *ngIf="state === 'uploading'">
      <h1>Uploading</h1>
      <p *ngIf="progress >= 0">{{ (progress * 100).toFixed(0) }}% complete</p>
      <mat-progress-bar
        [mode]="progress === -1 ? 'indeterminate' : 'determinate'"
        [value]="progress * 100"
        color="accent"
      ></mat-progress-bar>
    </ng-container>
    <ng-container *ngIf="state === 'processing'">
      <h1>Processing</h1>
      <p *ngIf="progress >= 0">{{ (progress * 100).toFixed(0) }}% complete</p>
      <mat-progress-bar
        [mode]="progress === -1 ? 'indeterminate' : 'determinate'"
        [value]="progress * 100"
        color="accent"
      ></mat-progress-bar>
    </ng-container>
  </div>
</div>
