<canvas
  *ngIf="state === 'canvas' || state === 'loading'"
  [style.display]="state === 'loading' ? 'none' : 'block'"
  height="0"
  width="0"
  #targetcanvas
></canvas>

<img
  *ngIf="state === 'image' || state === 'loading'"
  [style.display]="state === 'loading' ? 'none' : 'block'"
  loading="lazy"
  #targetimg
/>

<mat-icon *ngIf="state === 'error'">broken_image</mat-icon>

<mat-spinner
  (nguiInview)="onInview()"
  (nguiOutview)="onOutview()"
  *ngIf="state === 'init' || state === 'loading'"
></mat-spinner>
