:host {
  display: inline-block;
  // Clip contents
  overflow: hidden;

  // width: fit-content;
  // margin-left: auto;
  // margin-right: auto;
}

mat-spinner {
  margin: auto;
}

canvas,
img {
  width: 100%;
  height: 100%;
}

ngui-inview {
  min-height: 1px;
}

mat-icon {
  margin: 1rem;
  display: block;
  text-align: center;
  font-size: xxx-large;
}
