// General styling
html,
body {
  height: 100%;
}

app-root {
  height: 100%;

  display: flex;
  flex-direction: column;
}

html {
  box-sizing: border-box;
  color-scheme: dark;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mat-icon {
  // Yes yes, !important is here, deal with it
  // If someone wants to properly figure out why icons are escaping their 24px box, feel free to
  height: initial !important;
  width: initial !important;
}

