@import '~@fontsource/roboto/100.css';
@import '~@fontsource/roboto/300.css';
@import '~@fontsource/roboto/400.css';
@import '~@fontsource/roboto/500.css';
@import '~@fontsource/roboto/700.css';
@import '~@fontsource/roboto/900.css';

@import 'material-icons';

// @import '~@fontsource/material-icons/index.css';
// @import '~@fontsource/material-icons-outlined/index.css';

// .material-symbols-rounded {
//   font-family: 'Material Symbols Rounded';
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px;
//   line-height: 1;
//   letter-spacing: normal;
//   text-transform: none;
//   display: inline-block;
//   white-space: nowrap;
//   word-wrap: normal;
//   direction: ltr;
//   -moz-font-feature-settings: 'liga';
//   -moz-osx-font-smoothing: grayscale;
// }

// .material-icons {
//   font-family: 'Material Icons';
//   font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
// }
