.snackbar {
  & .mdc-snackbar__surface {
    background: #272727;
    & .mdc-snackbar__label {
      color: white;
    }
  }

  &.snack-success .mdc-snackbar__surface {
    background: #274e29;
  }

  &.snack-error .mdc-snackbar__surface {
    background: #761919;
  }

  &.snack-warning .mdc-snackbar__surface {
    background: #934d06;
  }

  &.snack-info .mdc-snackbar__surface {
    background: #125e87;
  }

  &.snack-default .mdc-snackbar__surface {
    background: #272727;
  }
}

.theme-alternate .snackbar {
  & .mdc-snackbar__surface {
    background: #f8f9fa;
    & .mdc-snackbar__label {
      color: black;
    }
  }

  &.snack-success .mdc-snackbar__surface {
    background: #28a745;
  }

  &.snack-error .mdc-snackbar__surface {
    background: #dc3545;
  }

  &.snack-warning .mdc-snackbar__surface {
    background: #ffc107;
  }

  &.snack-info .mdc-snackbar__surface {
    background: #007bff;
  }

  &.snack-default .mdc-snackbar__surface {
    background: #f8f9fa;
  }
}

.mat-snack-bar-handset {
  transform: translateY(64px);
}
