.snackbar {
  background: #272727;
  color: white;

  &.snack-success {
    background: #274e29;
  }

  &.snack-error {
    background: #761919;
  }

  &.snack-warning {
    background: #934d06;
  }

  &.snack-info {
    background: #125e87;
  }

  &.snack-default {
    background: #272727;
  }
}

.theme-alternate .snackbar {
  background: #f8f9fa;
  color: black;

  &.snack-success {
    background: #28a745;
  }

  &.snack-error {
    background: #dc3545;
  }

  &.snack-warning {
    background: #ffc107;
  }

  &.snack-info {
    background: #007bff;
  }

  &.snack-default {
    background: #f8f9fa;
  }
}

.mat-snack-bar-handset {
  transform: translateY(64px);
}
