<div class="content-border padded">
  <div class="container centered">
    <div class="row">
      <div class="col-12">
        <h1>Uploaded Image</h1>
      </div>

      <div class="col-12 py-3">
        <picsur-img
          class="uploadedimage"
          [src]="imageLinks.source"
        ></picsur-img>
      </div>

      <div class="col-12">
        <copy-field label="Image URL" [value]="imageLinks.source"></copy-field>
      </div>
      <div class="col-md-6 col-12">
        <copy-field label="Markdown" [value]="imageLinks.markdown"></copy-field>
      </div>
      <div class="col-md-6 col-12">
        <copy-field label="HTML" [value]="imageLinks.html"></copy-field>
      </div>
      <div class="col-md-6 col-12">
        <copy-field label="BBCode" [value]="imageLinks.bbcode"></copy-field>
      </div>
      <div class="col-md-6 col-12">
        <copy-field label="Rst" [value]="imageLinks.rst"></copy-field>
      </div>
      <div class="col-12">
        <button
          mat-raised-button
          class="m-1"
          color="accent"
          (click)="downloadImage()"
        >
          Download
        </button>

        <button
          mat-raised-button
          class="m-1"
          color="primary"
          (click)="goBackHome()"
        >
          Upload Another
        </button>
      </div>
    </div>
  </div>
</div>
