.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.centered-screen {
  width: 100vw;
  height: 100vh;
}

.centered-normal {
  height: 100%;
  width: 100%;
}
