<div class="fab-wrapper">
  <div
    class="fab-position"
    (mouseenter)="enter()"
    (mouseleave)="leave()"
    [class.speed-dial-is-open]="isOpen"
  >
    <div
      class="speed-dial-options"
      [@speedDialAnimation]
      (@speedDialAnimation.start)="animStart()"
      (@speedDialAnimation.done)="animDone()"
      *ngIf="isOpen"
    >
      <ng-content select="[mat-mini-fab]"></ng-content>
    </div>

    <button
      mat-fab
      [color]="color"
      class="speed-dial-main-button fullanimate mat-elevation-z6"
      [matTooltip]="tooltip"
      [matTooltipDisabled]="!isOpen"
      (click)="click()"
      aria-label=""
    >
      <mat-icon
        class="icon-main"
        fontSet="material-icons-outlined"
        [aria-label]="ariaLabel"
      >
        {{ icon }}
      </mat-icon>
      <mat-icon
        *ngIf="iconHover !== undefined"
        class="icon-hover"
        fontSet="material-icons-outlined"
        [aria-label]="ariaLabel"
      >
        {{ iconHover }}
      </mat-icon>
    </button>
  </div>
</div>
