.mat-button-wrapper {
  position: relative;
}

mat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-main {
  opacity: 1;
}
.icon-hover {
  opacity: 0;
}

.speeddial-is-open {
  .icon-main {
    opacity: 0;
  }
  .icon-hover {
    opacity: 1;
  }

  .icon-rotate {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.speeddial-options {
  display: flex;
  width: 100%;

  flex-direction: column;
  align-content: center;
  align-items: center;

  & > * {
    margin-bottom: 1rem;
  }

  padding-bottom: 1rem;
}
