mat-table {
  width: 100%;
}

.mat-column-actions {
  justify-content: end;
  flex-grow: .5;
}

.mat-column-key {
  flex-grow: 2;
}

.mat-column-last_used {
  flex-grow: 0.5;
}

.icon-red {
  color: #f44336;
}

copy-field {
  margin-top: 1rem;
  width: 100%;
  margin-right: 1rem;
  padding-right: 1rem;
}
