html, body {
  background: rgb(24, 24, 24);
  color: #eee;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

.contentwindow {
  border-radius: 20px;
  height: 100%;

  border-style: solid;
  border-width: 5px;
}
