mat-form-field {
  min-width: 50%;
}

.y-center {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

mat-form-field::before {
  content: '';
  display: inline-block;
  height: 16px;
}

h3 {
  margin: 0;
}

mat-slide-toggle {
  margin-block: 1rem;
}
