<ng-container *ngIf="pref.type === 'string'">
  <div class="y-center">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>{{ name }}</mat-label>
      <input
        matInput
        [value]="pref.value"
        (change)="stringUpdateWrapper($event)"
        autocorrect="off"
        autocapitalize="none"
        placeholder="Empty"
      />
      <!-- show tooltip on press -->
      <button
        mat-icon-button
        matSuffix
        (click)="tooltip.show()"
        *ngIf="helpText !== ''"
      >
        <mat-icon
          matSuffix
          fontSet="material-icons-outlined"
          #tooltip="matTooltip"
          [matTooltip]="helpText"
          matTooltipPosition="left"
          matTooltipHideDelay="0"
        >
          help_outline
        </mat-icon>
      </button>
    </mat-form-field>
  </div>
</ng-container>

<ng-container *ngIf="pref.type === 'number'">
  <div class="y-center">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>{{ name }}</mat-label>
      <input
        matInput
        type="number"
        [value]="pref.value"
        (change)="numberUpdateWrapper($event)"
        placeholder="Empty"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="tooltip.show()"
        *ngIf="helpText !== ''"
      >
        <mat-icon
          matSuffix
          fontSet="material-icons-outlined"
          #tooltip="matTooltip"
          [matTooltip]="helpText"
          matTooltipPosition="left"
          matTooltipHideDelay="0"
        >
          help_outline
        </mat-icon>
      </button>
    </mat-form-field>
  </div>
</ng-container>

<ng-container *ngIf="pref.type === 'boolean'">
  <div class="y-center">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>{{ name }}</mat-label>
      <mat-select
        [value]="pref.value"
        (valueChange)="booleanUpdateWrapper($event)"
      >
        <mat-option [value]="false">No</mat-option>
        <mat-option [value]="true">Yes</mat-option>
      </mat-select>
      <button
        mat-icon-button
        matSuffix
        (click)="tooltip.show()"
        *ngIf="helpText !== ''"
      >
        <mat-icon
          fontSet="material-icons-outlined"
          #tooltip="matTooltip"
          [matTooltip]="helpText"
          matTooltipPosition="left"
          matTooltipHideDelay="0"
        >
          help_outline
        </mat-icon>
      </button>
    </mat-form-field>
  </div>
</ng-container>
