.column-wrapper {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    margin-inline: .5em;
  }
}