footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1em;

  text-align: center;
}

span.line {
  display: inline-block;
}

.heart {
  font-size: 22px;
  transform: translate(0, 25%);

  z-index: 0;
}
