<footer class="container">
  <p>
    <!-- Made into two spans, make sure browsers break at the right point -->
    <span class="line">
      Made with
      <span class="material-icons-outlined heart"> favorite_border </span>
      by
      <a class="link-unstyled" href="https://caramelfur.dev" target="_blank">
        Caramel
      </a>

      {{ isDemo ? ' - Demo Version' : '' }}
    </span>

    <span class="line">
      &nbsp;-
      {{ version }}
      -
      <a class="link-unstyled" href="https://github.com/caramelfur/picsur">
        Source Code
      </a>
    </span>
  </p>
</footer>
