mat-table {
  width: 100%;
}

.mat-column-actions {
  justify-content: end;
}

.mat-column-permissions {
  flex-grow: 3;
}

.icon-red {
  color: #f44336;
}

mat-chip-list {
  margin-top: 8px;
  margin-bottom: 8px;
}
